<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comments</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head>
<body>
    <input type="hidden" id="postId" value="{{ post_id }}">

    <h1>Comments for Post ID: <span id="postIdHeader">"{{ post_id }}"</span></h1>
    <button onclick="window.location.href='/posts';">Go Back to Post Listing</button>
    <button id="createCommentButton">Add Comment</button>
    <ul id="commentList"></ul>
    <div id="errorMessage"></div>
</body>
<script>
    const token = sessionStorage.getItem('token');
    if (!token) {
        window.location.href = '/login';
    }
</script>
</html>
