<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='app.js') }}" defer></script>
</head>
<body class="bg-light">
    <div class="container">
        <h1 class="text-center mt-5">Login (ARBA Travel - Take Home Test)</h1>
        <form id="loginForm" class="mt-4">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <button type="button" class="btn btn-secondary btn-block" id="registerButton">Register</button>
        </form>
        <div id="errorMessage" class="text-danger mt-3"></div>
        <div class="text-center">
            <p>Made by Syukran Soleh <a href="https://syukrandev.vercel.app/">Portfolio</a> | <a href="https://github.com/syukranDev/">Github</a></p>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>

