<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Take Home Test - Syukran Soleh</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="font-mono mx-4">
    <h1 class="text-7xl flex justify-center m-5 font-extrabold">CRUD POST-COMMENT (by: @syukranDev)</h1>

    <div class="container mx-auto px-4 g-white dark:bg-slate-900 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
        <h1 class="text-5xl text-white font-bold">Welcome to dashboard, <span id="username">World</span>!</h1>
        <button id="logoutBtn" class="rounded-md border-0 py.1.5 text-red-400 hover:text-white">Logout</button>
    </div>

    <div class="container mx-auto mt-5 mb-5 px-4 g-white dark:bg-slate-900 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
        <div class="flex justify-between">
            <h1 class="text-5xl text-white font-bold">Post Content (<span id="postCount">Total: {{total_post}}</span>)</h1>
            <button class="rounded-lg px-4 py-2 bg-blue-500 text-blue-100 hover:bg-blue-600 duration-300">Add New Comment</button>
        </div>

        {% if total_post == 0 %}
        <p class="text-white">No posts found, please insert one.</p>
        {% else %}
            <!-- <table class="min-w-full bg-white rounded-lg shadow-lg">
                <thead>
                    <tr class="bg-gray-200 text-gray-600">
                        <th class="py-2 px-4">ID</th>
                        <th class="py-2 px-4">Title</th>
                        <th class="py-2 px-4">User ID</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in data %}
                    <tr class="border-b">
                        <td class="py-2 px-4">{{ item.id }}</td>
                        <td class="py-2 px-4">{{ item.title }}</td>
                        <td class="py-2 px-4">{{ item.user_id }}</td>
                        <td class="py-2 px-4">
                            <a href="/edit/{{ item.id }}" class="text-blue-600 hover:underline">Edit</a>
                            <a href="/delete/{{ item.id }}" class="text-red-600 hover:underline ml-2" onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table> -->

            <div class="p-5 bg-blue-100 mt-5">
                {% for item in data %}
                    <div class="bg-white p-6 rounded-lg shadow-lg mb-4">
                        <h2 class="text-2xl font-bold mb-2 text-gray-800"><span>(ID: {{ item.id }})</span> {{ item.title }}</h2>
                        <p class="text-gray-700">by <span>{{ item.user_id }}</span></p>
                        <div class="mt-4">
                            <a href="/edit/{{ item.id }}" class="text-blue-600 hover:underline">Edit</a>
                            <a href="/delete/{{ item.id }}" class="text-red-600 hover:underline ml-2" onclick="return confirm('Are you sure you want to delete this post?');">Delete</a>
                            <a href="/delete/{{ item.id }}" class="text-green-600 hover:underline ml-2">Show Comment</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
            
        
    </div>

    <script>
        $(document).ready(function() {
            const baseUrl = "http://" + "{{ base_url }}";

            const token = localStorage.getItem('token');
            const userLoggedIn = localStorage.getItem('userLoggedIn');

            if (token) $('#username').text(userLoggedIn);

            $('#logoutBtn').on('click', function(e) {
                e.preventDefault(); 
                alert('Logout successful');
                localStorage.removeItem('token');
                localStorage.removeItem('userLoggedIn');
                window.location.href = 'http://localhost:9000/'; 
            });
        });
    </script>
</body>
</html>
